
body {
    	background-color:purple;
    	color: blue;
	}

h1 {
    	font-family: 'Notable', sans-serif;
    	color: white;
    	font-size: 50px;
	}

a {
    	color: yellow;
    	font-family: 'Dancing Script', cursive;
    	font-size: 24px;
    	text-decoration: none;
	}

a:hover{
  	color: green;
	}
